Veronika-RQC-mmi.zip
Unitary_my.ipynb
Unitary_my_PyGAD.ipynb
Unitary_my_optuna.ipynb
Unitary_my_correct_initialization.ipynb
Unitary_my pyGAD.ipynb
Unitary_my (1).ipynb
two-mode-MMI-fit.ipynb
sine_sweep.gif
RQC_second_phase_layer.zip
optim_suite.py
OFC22-CSD.ipynb
matrix-decompose.ipynb
interferometer model_sent.ipynb
four-mode-MMI-fit.ipynb
four-mode-MMI-fit-v7 (jax).ipynb
four-mode-MMI-fit-v4-torch.ipynb
four-mode-MMI-fit-v3.ipynb
four-mode-MMI-fit-v2.ipynb
four-mode-MMI-fit copy.ipynb
four_mode_MMI-fit-v10(in short).ipynb
four_mode_MMI-fit copy.ipynb
four_mode_MMI_fit_v9(Clements).ipynb
four_mode_MMI_forv8(Reck).ipynb
four_mode_MMI_fit_v6(Newton).ipynb
four_mode_MMI_fit_v5(Lubov).ipynb
fit-gemini.ipynb
EX06_CNN_Beliaeva.ipynb
logs
data
content
boson-sampling-mmi
naggs
RQC_second_phase_layer
runs
term project
workshot 2
best_model.pth
ch1_H5.txt
ch1_H6.txt
ch1_H7.txt
ch2_H5.txt
ch2_H6.txt
ch2_H7.txt
ch3_H5.txt
ch3_H6.txt
ch3_H7.txt
ch4_H5.txt
ch4_H6.txt
ch4_H7.txt